
.bloco{
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px;
    justify-items:center;
    border-radius: 5px;
}
.block{
    display: block;
    padding: 10px;
}
.verde{
    background-color: #2d545e;
    padding: 10px;
    margin: 20px;

}
.flex{
    display: flex;
    align-items: center;
}
.amarelo{
    background-color: rgb(168, 168, 48);
    color: white;
}
.img{
    height: 120px;
    width: 120px;
}

body {
    background-color:#494D5F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blue{
    background-color: rgb(119, 119, 173);
    padding: 12px;
}
.orange{
    background-color: orange;
}
.first{
    background-color: blue;
    padding: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 64px;
    width: 64px;
}
.flex{
    display: flex;
}