
.blue{
    background-color: rgb(119, 119, 173);
    padding: 12px;
}
.orange{
    background-color: orange;
}
.first{
    background-color: blue;
    padding: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 64px;
    width: 64px;
}
.flex{
    display: flex;
}